name: Security Scan

on: [push]

jobs:
  scan-source:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      security-events: write
      actions: read

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Generate SBOM
        uses: anchore/sbom-action@v0
        with:
          path: ./src
          format: 'spdx-json'
          output-file: 'inventory.spdx.json'

      - name: Scan SBOM for Vulnerabilities
        uses: anchore/scan-action@v6
        with:
          sbom: 'inventory.spdx.json'
          format: sarif
          output-file: 'results.sarif'
          severity-cutoff: high

      - name: Upload Scan Results
        uses: github/codeql-action/upload-sarif@v3
        if: always() 
        with:
          sarif_file: 'results.sarif'