name: Syft SBOM Generation 

on:
  push:
  pull_request:

jobs:
  sbom-scan:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      security-events: write
      actions: read

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Build Java project
        run: mvn -q -DskipTests package
        working-directory: ./src/WebGoat

      - name: Generate SBOM
        uses: anchore/sbom-action@v0
        with:
          path: ./src/juice-shop
          format: spdx-json
          output-file: inventory.spdx.json

      - name: Scan SBOM for Vulnerabilities
        uses: anchore/scan-action@v6
        with:
          sbom: inventory.spdx.json
          format: sarif
          output-file: results.sarif
          severity-cutoff: medium

      - name: Upload Scan Results
        if: always()
        uses: github/codeql-action/upload-sarif@v3
        with:
          sarif_file: results.sarif
